$color-alpha = #333;
$color-beta = #FFF;
$color-gamma = #4D4D4D;
$color-delta = #5F5F5F;
$color-epsilon = #858585;
$color-zeta = #A6A6A6;
$color-eta = #C7C7C7;
$color-theta = #E7E7E7;
$color-iota = #F4F4F4;
$button-transition = all 0s;
$button-transition-delay = 300ms;
$dim-micro = 6px;
$dim-small = 14px;
$dim-mega = 60px;
$highlight-color = #000;

// TODO: icons + icon sizing

brick-menu {

  padding: 0 $dim-small;
  box-sizing: border-box;
  & > * {
    color: $color-gamma;
    padding: $dim-small 0;
    border-bottom: 1px solid $color-theta;
    &:last-child {
      border-bottom: none;
    }
  }

  &[horizontal] {
    padding: $dim-small 0;
    & > * {
      padding: 0 $dim-small;
      border-bottom: none;
      border-right: 1px solid $color-theta;
      &:last-child {
        border-right: none;
      }
    }
  }

}
